.navBarActive{
    background-color: black;
}
.navBar{
    background-color: rgba(0, 0, 0, 0.05);
}
.disp{
    display: flex;
}
.dis{
    display: none;
}
.yemi button{
    display: none;
}
.yemi:hover button{
    display: flex;
    padding: 10px 30px;
    background-color: gray;
    color: white;
    font-weight: 600;
}
.aje{
    width: 70px;
    height: 70px;
}
.castName{
    font-size: 8px;
}
.castCharacter{
    font-size: 8px;
}
.adVert:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.adVert .but{
    display: none;
}
.adVert:hover .but{
    display: flex;
}
@media (min-width :480px) {
    .aje{
        width: 150px;
        height: 150px;
    }
    .castName{
        font-size: 16px;
    }
    .castCharacter{
        font-size: 16px;
    }
}